main{
  width: 90%;
  border: 1px solid transparent;
}
.header{
  font-size: 2.5rem;
}
.header h1{
  font-size: 4rem;
}
.header h1 span{
  font-size: 4rem;
}
.article__container{
  width: 48%;
  height: 30rem;
  display: inline-block;
  text-align: center;
}
.one,.three{
  margin-right: 2.3rem;
}
.article__container--title{
  font-size: 2.3rem;
}
.article__container--text{
  font-size: 1.7rem;
}
.article__container picture img{
  width: 8rem;
  position: initial;
  margin-top: 7rem;
}